.player{
    background: #f2f2f2;
    border-radius: 10px;
    font-size: 2em;
    margin: 5px;
}

.player .keycode{
    background-color: #bd10bd;
    border-radius: 10px 0px 0px 10px;
    color: #fff;
    display: inline-block;
    text-align: center;
    height: 2em;
    padding: 2em;
    width: 2em;
}

.player .name{
    margin-left: 1em;
}

.new_player input{
    font-size: 1.6em;
    padding: 1em;
    width: 30%;
}

.new_player button{
    background: #4a4a4a;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 2em;
    height: 3em;
    text-align: center;
    width: 3em;
}

.players.playing .player{
    float: left;
    background: none;
    transform: translate3d(0,0,0);
    animation: bounce;
    animation-duration: 10s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
.players.playing .player .keycode{
    border-radius: 100%;
}
.players.playing .player .name, .players.playing .player .score{
    display: none;
}

@keyframes bounce{
    50% {transform: translate3d(0, 60vh, 0);}
    100% {transform: translate(0,0,0);}
}